/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
}

#main-title {
  font-family: 'Righteous' , cursive;
  text-align: left;
  font-size: 4rem
}

.section {
  border-radius: 10px;
  padding: 20px;
  border: 10px inset;
  margin: 10px;
  max-width: 870px;
}

/*
  example of grouping,
  changing size and fonts of headers in the sections
 */
.section h2{
  font-family: 'Righteous' , cursive;
  text-align: center;
  font-size: 2rem;
}


