/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
  padding: 30px;
  background: black;
}

/*
  changes the element with id main-title,
  changes font, font size, color, and aligns left
 */
#main-title {
  font-family: 'Orbitron', Times, cursive;
  text-align: left;
  font-size: 4rem;
  color: green;
}

/*
  selects all elements witj class section,
  sets border and background color
 */
.section{
  border-radius: 0;
  padding: 20px;
  border: 5px solid purple;
  margin: 10px;
  max-width: 870px;
  color: green;
  font-family: 'Orbitron',Times, cursive;
}

/*
  example of grouping,
  changes the background for pslo, courses, and faculty sections
 */
#pslo, #courses, #faculty{
  background: black;
}

h2 {
  font-family: 'Orbitron' ,Times, cursive;
  text-align: left;
  font-size: 2rem;
  color: green;
}

/*
  example of nesting,
  changes the header in the faculty section
 */
#faculty h2 {
  font-family:'Orbitron',Times, cursive;
  text-align: left;
  font-size: 2rem;
}

/*
Changes the faculty pictures to a 2x2 instead of in a line
 */
#faculty>ul>li {
  display: inline-flex;
  padding: 30px;
}

img {
  border-radius: 50%;
}
/*
Changes the numbers in PSLO to roman numerals
 */
ol {
  list-style-type: upper-roman;
}

/*
  causes the different css pages to appear
  below everything
 */
#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  bottom: 0;
  width: 15%;
}

#style li {
  float: left;
}

#style li a {
  display: block;
  color: white;
  padding: 10px;
}

#validation{
  color: white;
}

#validation a{
  color: gold;
}
